@font-face {
    font-family: 'ankchiddjgmbalc';
    src: url('subset-amlgjlahnkgmkjoldgbpeifodofplkkf.eot');
    src: url('subset-amlgjlahnkgmkjoldgbpeifodofplkkf.eot?#iefix') format('embedded-opentype'),
        url('subset-amlgjlahnkgmkjoldgbpeifodofplkkf.woff2') format('woff2'),
        url('subset-amlgjlahnkgmkjoldgbpeifodofplkkf.woff') format('woff'),
        url('subset-amlgjlahnkgmkjoldgbpeifodofplkkf.ttf') format('truetype'),
        url('subset-amlgjlahnkgmkjoldgbpeifodofplkkf.svg#amlgjlahnkgmkjoldgbpeifodofplkkf') format('svg');
    font-weight: normal;
    font-style: normal;
}

