@font-face {
    font-family: 'ielaolbpchndjkb';
    src: url('subset-hneggppdfobmfeppgkglpfhnnicafonh.eot');
    src: url('subset-hneggppdfobmfeppgkglpfhnnicafonh.eot?#iefix') format('embedded-opentype'),
        url('subset-hneggppdfobmfeppgkglpfhnnicafonh.woff2') format('woff2'),
        url('subset-hneggppdfobmfeppgkglpfhnnicafonh.woff') format('woff'),
        url('subset-hneggppdfobmfeppgkglpfhnnicafonh.ttf') format('truetype'),
        url('subset-hneggppdfobmfeppgkglpfhnnicafonh.svg#hneggppdfobmfeppgkglpfhnnicafonh') format('svg');
    font-weight: bold;
    font-style: normal;
}

