@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('subset-ProximaNova-Light.eot');
    src: url('subset-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('subset-ProximaNova-Light.woff2') format('woff2'),
        url('subset-ProximaNova-Light.woff') format('woff'),
        url('subset-ProximaNova-Light.ttf') format('truetype'),
        url('subset-ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

